body.dark {
  .bg-ax-bg-neutral-soft {
    background-color: var(--new-bg-sunken);
  }

  .bg-ax-bg-default {
    background-color: var(--new-bg);
  }

  h1,
  .navds-tabs,
  .navds-tabs__tab {
    color: var(--darkmode-text-default)
  }

  .border-b-ax-border-neutral-subtle {
    border-color: var(--new-bg-raised);
  }
}
