{
  "plugins": [
    "prettier-plugin-organize-imports",
    "prettier-plugin-tailwindcss"
  ],
  "singleAttributePerLine": true,
  "semi": false,
  "printWidth": 120,
  "jsxSingleQuote": true,
  "jsxBracketSameLine": false,
  "arrowParens": "always",
  "bracketSpacing": true,
  "trailingComma": "all"
}
