.followupchip {
    display: flex;
    padding: 3px 10px;
    border: 1px solid rgba(7, 26, 54, 0.21);
    border-radius: 12px 12px 2px 12px;
    background: rgba(241, 247, 255, 1);
    white-space: normal !important;
}

.followupchip:hover {
    background: rgba(212, 229, 253, 1);
}

body.dark .followupchip {
    background-color: rgba(66, 32, 46, 1);
}

.question-text {
    white-space: inherit !important;
}