.followupcontainer {
    display: flex;
    padding: 4px 8px;
    background: rgba(241, 247, 255, 1);
    white-space: normal !important;
}

.followupcontainer:hover {
    background: rgba(212, 229, 253, 1);
}

body.dark .followupcontainer {
    background: rgba(16, 29, 45, 1);

}

body.dark .followupcontainer:hover {
    background: rgba(26, 44, 65, 1);

}

.question-text {
    white-space: inherit !important;
}