.followupcontainer {
  display: flex;
  padding: 4px 8px;
  background: var(--ax-bg-accent-soft);
  white-space: normal !important;
}

.followupcontainer:hover {
  background: var(--ax-bg-accent-moderate);
}

.question-text {
  white-space: inherit !important;
}
