.all-sources-container {
  position: fixed;
  right: -25rem;
  z-index: 1000;

  width: 25rem;
  height: 100%;
  max-width: 100%;
  min-width: 20rem;
  overflow-x: hidden;

  padding-top: 0.5rem;
  border-left: 1px solid var(--ax-border-subtle);
  transition: right .3s ease-in-out;
}

.all-sources-container.active {
  right: 0;
}

.pagewrapper:has(.all-sources-container.inactive) {
  transition: padding-right .3s ease-in-out;
  padding-right: 0;
}

.pagewrapper:has(.all-sources-container.active) {
  transition: padding-right .3s ease-in-out;
  padding-right: 25rem;
}

.heading {
  border-bottom: 1px solid var(--ax-border-subtle);
  height: 100%;
  max-height: 54px;
  padding-inline: 16px;
}

.sourcelist {
  overflow-y: scroll;
}

.sourcepanel {
  padding: 16px;
}

.utdrag-dropdown p:not(li p):not(:last-child) {
  margin-bottom: 0;
}

.sourcepanel:hover {
  background: var(--ax-bg-neutral-soft);
}

.dropdownchevrondown {
  transform: translateY(1px);
}

.utdrag-dropdown:hover {
  text-decoration: underline;
}

.utdrag-container:hover .utdrag-dropdown {
  text-decoration: underline;
}

.utdrag-dropdown:hover .dropdownchevrondown {
  transform: translateY(2px);
}

.dropdownchevronup {
  transform: translateY(1px);
}

.utdrag-dropdown:hover .dropdownchevronup {
  transform: translateY(0px);
}

.content:hover .utdrag-dropdown {
  text-decoration: underline;
}

@media (max-width: 800px) {
  .all-sources-container {
    width: 20rem;
  }

  .pagewrapper:has(.all-sources-container.active) {
    padding-right: 20rem;
  }
}