.conversationlink {
  display: flex;
  position: relative;
  width: 100%;
  align-items: center;
  color: var(--ax-text-neutral);
  border-radius: 4px;
}

.conversationlink:hover {
  background: #d5d9de;
}

.active-conversation {
  background: #d5d9de;
}

.deletebutton {
  color: var(--ax-bg-neutral-strong-hover);
  display: none;
  position: absolute;
  right: 0;
  background: #d5d9de;
  padding: 2px 10px 2px 20px;
}

.conversationlink:hover .deletebutton {
  display: flex;
}

.deletebutton:hover {
  color: var(--ax-text-danger-decoration);
}
