.fixed-input {
  position: fixed;
  bottom: 0;
  align-content: center;
  z-index: 20;
  max-width: 768px;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 16px 20px 16px;
}

.fixed-input::before {
  content: "";
  position: fixed;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 20px;
}