


.input-button {
  max-height: 2.5rem;
  height: 100%;
  max-width: 2.3rem;
  width: 100%;
  right: 0.2%;
  top: 2%;
}

.text-area {
  display: flex;
  width: 100%;
  flex-grow: 1;
}

.textarea-transition {
  transition: height 0.3s ease;
}

.detailcolor {
  color: var(--a-text-subtle)
}

body.dark .detailcolor {
  color: rgba(118, 126, 140, 1);
}
