.darkmode-toggle {
  display: flex;
  position: relative;
  width: 35px;
  height: 19px;
  align-self: center;

  border-radius: 999px;
}

.darkmode-toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(34, 119, 213, 1);

  border-radius: 999px;
}

.slider:hover {
  background-color: rgba(0, 99, 193, 1);
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 1px;
  bottom: 1px;

  /*  Background circle  */
  background-color: rgba(255, 255, 255, 1);

  transition: 0.3s;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14px;
}

.slider:hover:before {
  left: 4px;
}

input:checked + .slider {
  background-color: var(--darkmode-actiontext);
}

input:checked + .slider:before {
  transform: translateX(15px);
  -ms-transform: translateX(26px);
  background-image: url("../../../assets/icons/Moon.svg");
  background-color: var(--new-bg);
  background-size: 14px;
}

input:checked + .slider:hover {
  background-color: rgba(212, 229, 253, 1);
}

input:checked + .slider:hover:before {
  left: 0;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
