.bob-styling {
  margin-top: 2rem;
  gap: 24px;
  height: 100%;
  width: 100%;
  align-self: center;
  justify-content: center;
  max-width: 24rem;
  flex-direction: column;
  position: relative;
  color: rgba(32, 39, 51, 1);
}

.placeholder-text {
  color: var(--ax-text-neutral-subtle)
}