.guide-modal {
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 700px;
  width: calc(100% - 32px);
  transform: translate(-50%, -50%);
  z-index: 1000;
}

@media screen and (max-width: 600px) {
  .guide-modal {
    flex-direction: column;
  }
}

.modal-container {
  background-color: var(--ax-bg-default);
  padding: 16px;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.08), 0 2px 5px 0 rgba(0, 0, 0, 0.15), 0 10px 24px 0 rgba(0, 0, 0, 0.18);
  gap: 8px;
  border: solid rgba(111, 119, 133, 1);
  border-radius: 8px;
  height: fit-content;
}