.questionbubble {
    display: flex;
    padding: 16px;
    flex-direction: column;
    gap: 8px;
    align-self: flex-end;

    border-radius: 12px 12px 2px 12px;
    background: #9A185F;
    color: white;
    }


