.questionbubble {
  display: flex;
  padding: 16px;
  flex-direction: column;
  gap: 8px;
  align-self: flex-end;
  margin-bottom: 20px;
  color: #ffffff;
  border-radius: 12px 12px 2px 12px;
  background-color: rgba(182, 87, 129, 1);
}

body.dark .questionbubble {
  background: rgba(58, 24, 39, 1);
  color: rgba(251, 243, 246, 1);
}
