.layout {
  display: flex;
  flex-shrink: 0;
  width: 260px;
  padding: 30px 12px;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  align-self: stretch;

  overflow: auto;

  background: var(--a-surface-subtle);
  box-shadow: 0 -25px 15px -10px #F2F3F5 inset;
}
