@import "tailwindcss/base";
@import "@navikt/ds-css";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  scrollbar-color: var(--a-grayalpha-400) transparent;
}

.pagewrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100vh;
  background: #FEF5EF;
}

.createcontent {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.centered-content {
  display: flex;
  gap: 4rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.contentwrapper {
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.dialogwrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  height: auto;
  width: 100%;
  align-items: center;
  overflow-y: auto;
  background: white;
}

.dialogcontent {
  display: flex;
  width: 100%;
  max-width: 48rem;
}

.unset {
  all: unset;
}
