@import 'tailwindcss';
@import '@navikt/ds-css' layer(components);

@config '../tailwind.config.cjs';

/*  LAYOUT  */

* {
  scrollbar-color: var(--neutral-500) transparent;
}

ul li:not(:last-child) {
  margin-bottom: 0.4rem;
}

li ul:first-of-type {
  margin-top: 0.2rem;
}

li ul {
  padding-left: 1rem;
}

ul {
  padding-left: 0;
}

ol li:not(:last-child) {
  margin-bottom: 1rem;
}

ol li::marker {
  font-weight: bold;
}

.markdown {
  overflow-wrap: break-word;
}

.markdown>ol,
ul {
  all: revert;
  padding-left: 1.5rem;
}

.markdown>p:not(li p):not(:last-child) {
  margin-bottom: 1rem;
}

.markdown-inline>p {
  display: inline;
}

.chat-markdown a,
.chat-markdown a:visited {
  color: inherit;
  text-decoration: underline;
}

.chat-markdown a:hover {
  color: inherit;
  text-decoration: underline;
}

.chat-markdown a:focus-visible {
  outline: 2px solid currentColor;
  outline-offset: 2px;
}

.answer-markdown a,
.answer-markdown a:visited {
  text-decoration: underline;
}

.answer-markdown a:hover {
  color: inherit;
  text-decoration: underline;
}

.answer-markdown a:focus-visible {
  outline: 2px solid currentColor;
  outline-offset: 2px;
}

.pagewrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100vh;
  justify-content: center;
}

.createconversation-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  width: 100%;
  height: 100%;
  max-height: 1024px;
  margin-inline: auto;
  margin-bottom: 50px;
}

.contentwrapper {
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
}

.conversation-content {
  display: flex;
  height: 100%;
  width: 100%;
  position: relative;
}

.dialogwrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  width: 100%;
  min-width: 25rem;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.chatcontainer {
  display: flex;
  overflow-y: scroll;
  scroll-behavior: smooth;
  width: 100%;
  justify-content: center;
  height: 100%;
}

.dialogcontent {
  display: flex;
  width: 100%;
  max-width: 48rem;
  overflow: visible;
}

.hide-on-desktop {
  display: none;
}

@media screen and (max-width: 450px) and (max-height: 950px) {
  .createconversation-wrapper {
    margin-bottom: 0;
  }

  .hide-on-mobile {
    display: none;
  }

  .show-on-mobile {
    display: flex;
  }

  .infotext {
    display: none;
  }

  .bobhead {
    display: none;
  }
}

.unset {
  all: unset;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fade-in {
  animation: fadeIn 1s ease-in-out;
}

.fade-out {
  animation: fadeOut 1s ease-in-out;
}

.fade-in-citations {
  animation: fadeIn 2s ease-in-out;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(7, 9, 13, 0.8);
  z-index: 1000;
  backdrop-filter: blur(3px);
}

/*   Read more styling   */

.aksel-textarea__input {
  padding-right: 2.5rem;
}

.aksel-read-more__button {
  background: rgba(241, 247, 255, 1);
  width: 100%;
  border-radius: 3rem;
  padding-block: 0.8rem;
  padding-inline: 1.2rem;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.aksel-read-more__content {
  margin-left: 1.4rem;
  margin-top: 0.6rem;
}

.aksel-read-more__button:hover {
  background: rgba(228, 238, 255, 1);
}