@import "tailwindcss/base";
@import "@navikt/ds-css";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  scrollbar-color: var(--a-grayalpha-400) transparent;
}

.pagewrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100vh;
}

.contentwrapper {
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
}

.dialogwrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  height: auto;
  margin-top: 10px;
  width: 100%;
  align-items: center;
  overflow-y: auto;
}

.dialogcontent {
  display: flex;
  width: 100%;
  max-width: 48rem;
}

.unset {
  all: unset;
}
