@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "@navikt/ds-css";

.dialogcontent {
  display: flex;
  width: 100%;
  max-width: 42rem;
  padding-inline: 1rem;
}

.unset {
  all: unset;
}