@import "tailwindcss/base";
@import "@navikt/ds-css";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  height: auto;
}

.pagewrapper {
  position: relative;
  height: 100vh;
  width: 100%;
}

.contentwrapper {
  display: flex;
  position: relative;
  height: 100vh;
  width: 100%;
}

.dialogwrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  width: 100%;
  align-items: center;
  overflow-y: auto;
}

.dialogcontent {
  display: flex;
  width: 100%;
  max-width: 42rem;
  padding-inline: 1rem;
}
